<div class="post lab2">
<h3 class="headerText">My Lab</h3>

<h5><p class="headerText">This is where you can see and edit all the posts you've made to the Lab!</p></h5>

<%= link_to 'New Post', new_post_path %>

<% @posts.order("created_at DESC").each do |post| %>

<!-- not very scalable... -->
<% if post.user_id === current_user.id %>

  <div class="micropost">

    Uploaded by: <%= User.find(post.user_id).email %><br/>
    <%= post.created_at.strftime("%B %e, %Y (%m:%M %p )") %><br/>

    <!-- remove title if there isn't any -->
    <% if post.title != "" %>
    Title: <%= post.title %><br/>
    <%end%>

    <!-- remove description if there isn't any -->
    <% if post.content != "" %>
    <blockquote><%= post.content %></blockquote>
    <%end%>

    <!-- If something is attached, let you download it -->
    <% if post.audio.attached? %>
    <audio controls>
        <source src="<%= url_for(post.audio) %>" type="audio/mp3">
    </audio>
    <p><a href="<%= url_for(post.audio) %>">DOWNLOAD</a></p>
    <%end%>

<!-- Show the controls for your own post -->
  <%= link_to 'Show', post %>
  <%= link_to 'Edit', edit_post_path(post) %>
  <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>


<!-- Conditional for upvote -->
  <div class="voting"><%= post.score %>
  <% if post.score > -1 %>
  ðŸ’–
  <% else %>
  ðŸ’”
  <% end %>

  <!-- Upvote/downvote arrows -->
  <%= link_to "â¬†ï¸", like_post_path(post), method: :put %> |
  <%= link_to "â¬‡ï¸", dislike_post_path(post), method: :put %>
  </div>

</div>
<% end %>

<% end %>
</div>
