<h1>Waves - My Posts</h1>

<%= link_to 'New Post', new_post_path %>

<% @posts.each do |post| %>

<!-- not very scalable... -->
<% if post.user_id === current_user.id %>

  <div class="micropost">

  <p><strong><%= User.find(post.user_id).email %></strong></p>
  <p><%= post.created_at.strftime("%b %d, %Y") %></p>
  
  <p>Title: <%= post.title %> </p>

  <p>Description: <%= post.content %>s</p>


  <% if post.audio.attached? %>

    <p>Play</p>
    <audio controls>
        <source src="<%= url_for(post.audio) %>" type="audio/mp3">
    </audio>

    <p><a href="<%= url_for(post.audio) %>">DOWNLOAD</a></p>

    <%end%>

  <%= link_to 'Show', post %>
  <%= link_to 'Edit', edit_post_path(post) %>
  <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>

</div>

<% end %>
