<h3>The Lab - My Posts</h3>

<p>This is where you can see and edit all the posts you've made to the Lab!</p>

<%= link_to 'New Post', new_post_path %>

<% @posts.each do |post| %>

<!-- not very scalable... -->
<% if post.user_id === current_user.id %>

  <div class="micropost">

  <p>Uploaded by: <%= User.find(post.user_id).email %></p>

  <p>Title: <%= post.title %> </p>

  <p>Description: <%= post.content %></p>


  <% if post.audio.attached? %>

    <p>Play</p>
    <audio controls>
        <source src="<%= url_for(post.audio) %>" type="audio/mp3">
    </audio>

    <p><a href="<%= url_for(post.audio) %>">DOWNLOAD</a></p>

    <%end%>

  <%= link_to 'Show', post %>
  <%= link_to 'Edit', edit_post_path(post) %>
  <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>

</div>

<% end %>
