<div class="post lab">
<h3 class="headerText">THE LAB</h3>

<h5><p class="headerText">Welcome to the Lab! This is a space for everyone to share snippets of the sounds they're working on.
  If you like someone else's sound, feel free to download it or show them some love! Experimentation, as always, is highly encouraged!</p></h5>


<% if user_signed_in? %>
<span id=>
<a href="/posts/new"><button>New post</button></a>
</span>
<% end %>

<% @posts.order("created_at DESC").each do |post| %>

  <div class="micropost">

  Uploaded by: <%= User.find(post.user_id).email %><br/>
  <%= post.created_at.strftime("%B %e, %Y (%m:%M %p )") %><br/>
  <% if post.title != "" %>
  Title: <%= post.title %><br/>
  <%end%>
  <!-- remove description if it there isn't any -->
  <% if post.content != "" %>
  <blockquote><%= post.content %></blockquote>
  <%end%>
  <!-- If something is attached, let you download it -->

  <% if post.audio.attached? %>
  <audio controls>
      <source src="<%= url_for(post.audio) %>" type="audio/mp3">
  </audio>
  <p><a href="<%= url_for(post.audio) %>">DOWNLOAD</a></p>
  <%end%>

  <!-- Show the controls for your own post -->
  <% if user_signed_in? && post.user_id === current_user.id %>
  <%= link_to 'Edit', edit_post_path(post) %>
  <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %>

  <!-- Conditional for upvote -->

    <div class="voting"><%= post.score %>
    <% if post.score > -1 %>
    ðŸ’–
    <% else %>
    ðŸ’”
    <% end %>

    <!-- Upvote/downvote arrows -->
    <%= link_to "â¬†ï¸", like_post_path(post), method: :put %> |
    <%= link_to "â¬‡ï¸", dislike_post_path(post), method: :put %>
    </div>
  </div>

<% end %>
</div>
