<div class="post">
<h3>The Lab - All Posts</h3>

<p>Welcome to the Lab! This is a space for everyone to share clips of the sounds they're working on.
  If you like someone else's sound, feel free to download it! Experimentation, as always, is highly encouraged!</p>

<%= link_to 'New Post', new_post_path %>

<% @posts.order("created_at DESC").each do |post| %>

<div class="micropost">

Uploaded by: <%= User.find(post.user_id).email %><br/>
<%= post.created_at.strftime("%B %e, %Y (%m:%M %p )") %><br/>
Title: <%= post.title %><br/>
Description: <%= post.content %><br/>


<% if post.audio.attached? %>

<audio controls>
    <source src="<%= url_for(post.audio) %>" type="audio/mp3">
</audio>

<p><a href="<%= url_for(post.audio) %>">DOWNLOAD</a></p>

<%end%>

<% if user_signed_in? && post.user_id === current_user.id %>

<%= link_to 'Edit', edit_post_path(post) %>
<%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>

</div>

<% end %>
</div>
